name: fooddelivery

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
  
  redis:            # <--- ДОБАВЬТЕ ЭТУ СТРОКУ
    image: redis:alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"   # Порт для пересылки сообщений (код)
      - "15672:15672" # Панель управления (браузер)
    restart: always
